/*
Algo724 Cadenza Fermata API

OpenAPI Specification for Algo724 Cadenza Fermata API  ## API Resources - <a href=\"/postman-collection.json\" download=\"cadenza-postman-collection.json\">Download Postman Collection</a>

API version: 3.0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type TradingAccountPortfolioAPI interface {

	/*
	ListTradingAccountPortfolios List trading account portfolios

	List portfolios across all trading accounts

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListTradingAccountPortfoliosRequest
	*/
	ListTradingAccountPortfolios(ctx context.Context) ApiListTradingAccountPortfoliosRequest

	// ListTradingAccountPortfoliosExecute executes the request
	//  @return ListTradingAccountPortfolios200Response
	ListTradingAccountPortfoliosExecute(r ApiListTradingAccountPortfoliosRequest) (*ListTradingAccountPortfolios200Response, *http.Response, error)
}

// TradingAccountPortfolioAPIService TradingAccountPortfolioAPI service
type TradingAccountPortfolioAPIService service

type ApiListTradingAccountPortfoliosRequest struct {
	ctx context.Context
	ApiService TradingAccountPortfolioAPI
	tradingAccountId *string
	venue *Venue
	currency *string
	limit *int32
	offset *int32
}

// Trading account ID
func (r ApiListTradingAccountPortfoliosRequest) TradingAccountId(tradingAccountId string) ApiListTradingAccountPortfoliosRequest {
	r.tradingAccountId = &tradingAccountId
	return r
}

// Exchange type
func (r ApiListTradingAccountPortfoliosRequest) Venue(venue Venue) ApiListTradingAccountPortfoliosRequest {
	r.venue = &venue
	return r
}

// Currency
func (r ApiListTradingAccountPortfoliosRequest) Currency(currency string) ApiListTradingAccountPortfoliosRequest {
	r.currency = &currency
	return r
}

// Limit the number of returned results
func (r ApiListTradingAccountPortfoliosRequest) Limit(limit int32) ApiListTradingAccountPortfoliosRequest {
	r.limit = &limit
	return r
}

// Offset of the returned results
func (r ApiListTradingAccountPortfoliosRequest) Offset(offset int32) ApiListTradingAccountPortfoliosRequest {
	r.offset = &offset
	return r
}

func (r ApiListTradingAccountPortfoliosRequest) Execute() (*ListTradingAccountPortfolios200Response, *http.Response, error) {
	return r.ApiService.ListTradingAccountPortfoliosExecute(r)
}

/*
ListTradingAccountPortfolios List trading account portfolios

List portfolios across all trading accounts

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListTradingAccountPortfoliosRequest
*/
func (a *TradingAccountPortfolioAPIService) ListTradingAccountPortfolios(ctx context.Context) ApiListTradingAccountPortfoliosRequest {
	return ApiListTradingAccountPortfoliosRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListTradingAccountPortfolios200Response
func (a *TradingAccountPortfolioAPIService) ListTradingAccountPortfoliosExecute(r ApiListTradingAccountPortfoliosRequest) (*ListTradingAccountPortfolios200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListTradingAccountPortfolios200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TradingAccountPortfolioAPIService.ListTradingAccountPortfolios")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/tradingAccount/portfolio/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tradingAccountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tradingAccountId", r.tradingAccountId, "form", "")
	}
	if r.venue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "venue", r.venue, "form", "")
	}
	if r.currency != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", defaultValue, "form", "")
		r.offset = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Root400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Root401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Root403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Root404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Root500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
