/*
Algo724 Cadenza Fermata API

OpenAPI Specification for Algo724 Cadenza Fermata API  ## API Resources - <a href=\"/postman-collection.json\" download=\"cadenza-postman-collection.json\">Download Postman Collection</a>

API version: 3.0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type WebSocketAPI interface {

	/*
	WebsocketConnect WebSocket Connection

	**This endpoint documents the WebSocket API protocol, not a REST endpoint.**

Connect to the Cadenza WebSocket API using the Centrifugo protocol.
Use the WebSocket servers listed above (`wss://cadenza-ws.algo724.com/connection/websocket` for production
or `wss://cadenza-ws-uat.algo724.com/connection/websocket` for UAT).

## Connection Flow

1. **Establish WebSocket connection** to the server URL
2. **Send connect command** with authentication token
3. **Receive connect result** with client ID and session info
4. **Subscribe to channels** for real-time updates
5. **Receive push messages** with data updates

## Authentication

Include your JWT token in the connect command:
```json
{
  "connect": {
    "token": "your-jwt-token",
    "name": "your-client-name"
  },
  "id": 1
}
```

## Available Channels

Subscribe to channels for real-time updates:

| Channel Pattern | Description |
|-----------------|-------------|
| `tradingAccount:{accountId}` | Trading account updates (orders, portfolio, balances) |
| `market:orderBook:{instrumentId}` | Order book updates for an instrument |
| `market:trade:{instrumentId}` | Trade updates for an instrument |

## Message Format

All WebSocket messages follow the Centrifugo JSON protocol format.
See the WebSocket schemas section for detailed message structures.

For complete protocol documentation, refer to:
- [Centrifugo Client Protocol](https://centrifugal.dev/docs/transports/client_protocol)
- [Protocol Definitions (Protobuf)](https://github.com/centrifugal/protocol/blob/master/definitions/client.proto)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiWebsocketConnectRequest
	*/
	WebsocketConnect(ctx context.Context) ApiWebsocketConnectRequest

	// WebsocketConnectExecute executes the request
	WebsocketConnectExecute(r ApiWebsocketConnectRequest) (*http.Response, error)
}

// WebSocketAPIService WebSocketAPI service
type WebSocketAPIService service

type ApiWebsocketConnectRequest struct {
	ctx context.Context
	ApiService WebSocketAPI
	wsCommand *WsCommand
}

// WebSocket command (sent after WebSocket connection is established)
func (r ApiWebsocketConnectRequest) WsCommand(wsCommand WsCommand) ApiWebsocketConnectRequest {
	r.wsCommand = &wsCommand
	return r
}

func (r ApiWebsocketConnectRequest) Execute() (*http.Response, error) {
	return r.ApiService.WebsocketConnectExecute(r)
}

/*
WebsocketConnect WebSocket Connection

**This endpoint documents the WebSocket API protocol, not a REST endpoint.**

Connect to the Cadenza WebSocket API using the Centrifugo protocol.
Use the WebSocket servers listed above (`wss://cadenza-ws.algo724.com/connection/websocket` for production
or `wss://cadenza-ws-uat.algo724.com/connection/websocket` for UAT).

## Connection Flow

1. **Establish WebSocket connection** to the server URL
2. **Send connect command** with authentication token
3. **Receive connect result** with client ID and session info
4. **Subscribe to channels** for real-time updates
5. **Receive push messages** with data updates

## Authentication

Include your JWT token in the connect command:
```json
{
  "connect": {
    "token": "your-jwt-token",
    "name": "your-client-name"
  },
  "id": 1
}
```

## Available Channels

Subscribe to channels for real-time updates:

| Channel Pattern | Description |
|-----------------|-------------|
| `tradingAccount:{accountId}` | Trading account updates (orders, portfolio, balances) |
| `market:orderBook:{instrumentId}` | Order book updates for an instrument |
| `market:trade:{instrumentId}` | Trade updates for an instrument |

## Message Format

All WebSocket messages follow the Centrifugo JSON protocol format.
See the WebSocket schemas section for detailed message structures.

For complete protocol documentation, refer to:
- [Centrifugo Client Protocol](https://centrifugal.dev/docs/transports/client_protocol)
- [Protocol Definitions (Protobuf)](https://github.com/centrifugal/protocol/blob/master/definitions/client.proto)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWebsocketConnectRequest
*/
func (a *WebSocketAPIService) WebsocketConnect(ctx context.Context) ApiWebsocketConnectRequest {
	return ApiWebsocketConnectRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *WebSocketAPIService) WebsocketConnectExecute(r ApiWebsocketConnectRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebSocketAPIService.WebsocketConnect")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/connection/websocket"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.wsCommand
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Root400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Root401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
